<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="feedback.css">
  <title>Feedback</title>
</head>

<body>
  <div class="Headerz">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
        <div class="logo"><a href="header.css">FPTBOOK</a></div>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="#">best serllers</a></li>
          <li><a href="#">All Products</a></li>
        </ul>
      </div>

    </nav>
  </div>
  {{!-- <form method="POST">

    <input type="text" name="name" value="{{query}}" hidden>
    <input type="text" name="feedback">
    <input type="submit" value="Submit">
  </form>
  <table>
    <thead>
      <th>Username</th>
      <th>Product</th>
      <th>Feedback</th>
    </thead>
    <tbody>
      {{#each list}}
      <tr>
        <td>{{username}}</td>
        <td>{{name}}</td>
        <td>{{feedback}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table> --}}

  <div class="card-wrapper">
    <div class="card">
      <!-- card left -->
      <div class="product-imgs">
        <div class="img-display">
          <div class="img-showcase">
            <img src="{{details.pic}}" alt="">
          </div>
        </div>

      </div>
      <!-- card right -->
      <div class="product-content">
        <h2 class="product-title">{{details.name}}</h2>
        <a href="/" class="product-link">visit FPTBOOK</a>
        <div class="product-rating">
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <span>4.7(21)</span>
        </div>

        <div class="product-price">
          <p class="last-price">Old Price: <span>$257.00</span></p>
          <p class="new-price">New Price: <span>{{details.price}} VND</span></p>
        </div>



        <div class="purchase-info">
          <form action="/shoppingCart" method="POST" onsubmit="return confirm('Are you sure to buy this book?')">
            <input type="hidden" name="bookID" value="{{details._id}}">
            <button type="submit" class="btn">
              Add to Cart <i class="fas fa-shopping-cart"></i>
            </button>
            <a href="/shoppingCart/viewCart"><button type="button" class="btn">View Cart</button></a>
            <a href="/feedback?name={{details.name}}"><button type="button" class="btn">
                Feedback</button></a>
          </form>
          <form method="POST">

            <input type="text" name="name" value="{{query}}" hidden>
            <input type="text" name="feedback">
            <input type="submit" value="Submit">
          </form>
          <table>
            <thead>
              <th>Username</th>
              <th>Product</th>
              <th>Feedback</th>
            </thead>
            <tbody>
              {{#each list}}
              <tr>
                <td>{{username}}</td>
                <td>{{name}}</td>
                <td>{{feedback}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</body>

</html>