<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="mystyle.css" />
    <title>FPTBook</title>
</head>

<body>
    <br>
    <br>
        <form action="/" method="GET">
        <input type="text" name="search" id="search">
        <input type="submit" value="Search">
        </form>
    <br>
    <span style="color: red;">{{errorSearch}}</span>
    <span>{{search}}</span>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        {{#each books}}
        <tr>
            <td>{{_id}}</td>
            <td>{{name}}</td>
            <td>{{price}}</td>
        </tr>
        {{/each}}
    </table>
    </div>
</body>

</html>